.bgpart{
    background-color: #251f83;
    color: white;
}
.bannerheading{
    font-size: 60px;
}
.startedbtn{
    border: 2px solid white;
    background-color: transparent;
    color: white;
}
.startedbtn:hover{
    border: 2px solid #251f83;
    background-color: white;
    color: #251f83;
}
.impart{
    max-height: 500px;
}
.supertext{
    background: linear-gradient(90deg, #ff7e5f, #feb47b); /* Adjust colors and angle as desired */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; 
}

@media (max-width:427px){
    .impart{
       max-height: 400px;
         
    } 
    .bannerheading{
        font-size: 30px;
    }  
}